PORT=3001
DATABASE_URL=file:./dev.db
ADMIN_TOKEN=cfqh-admin-dev-token
GATEWAY_SECRET=replace-with-shared-gateway-secret
ALLOW_DEV_OPEN_ID=true
DEV_OPEN_ID=dev-open-id-local
WECHAT_APP_ID=	
wx9fa36f92c1775f62
WECHAT_APP_SECRET=7be51675eb0782d65e689ea49f262761

# 腾讯云 VOD Web 直传签名（视频上传用）
TENCENT_SECRET_ID=618fd8f04b7511f1bd7b0309f58c43e2
TENCENT_SECRET_KEY=901663909b6b446fad0e08925f2b7f81
TENCENT_VOD_SUB_APP_ID=
TENCENT_VOD_PROCEDURE=
TENCENT_VOD_STORAGE_REGION=
TENCENT_VOD_CLASS_ID=
TENCENT_VOD_EXPIRE_SECONDS=3600
